:root {
  --logo-text-color: #f0f4f5;
  --link-text-color: #2f2cd3;
  --text-color: #f0f4f5;
  --background-color: hsl(240, 8%, 3%);
  --accent-color: #d49466;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: var(--logo-text-color);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
}

.navbar__logo i {
  font-size: 24px;
  color: crimson;
}

.navbar__toggleBtn {
  font-size: 24px;
  color: white;
}

.movieplayer {
  display: flex;
  align-content: sticky;
  border: 2px solid rgb(255, 0, 34);
  width: 100%;
  height: 500px;
}

.content__container {
  display: flex;
  flex-direction: row;
}

.content_this {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: initial;
}

.content__movietitle {
  display: flex;
}

.hashtag__text a {
  font-size: 24px;
  text-decoration: none;
  color: var(--link-text-color);
}

.movietitle__togle {
  font-size: 24px;
  padding: 3px 15px;
}

.content_others {
  border: 2px solid blue;
}
